<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801350010963-f04rj5bejjh3hfk8g6i9l6m92mt4oa1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801350010963-f04rj5bejjh3hfk8g6i9l6m92mt4oa1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801350010963-3sdipc8brtakfikpb24b06s9c529882s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHcMkOIDjGL24ymxl6OiLAvzYo98oSj0U</string>
	<key>GCM_SENDER_ID</key>
	<string>801350010963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.goiaba.boot.shop</string>
	<key>PROJECT_ID</key>
	<string>boots-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>boots-shop.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801350010963:ios:f68701b13e5aa1c5149ea6</string>
</dict>
</plist>